{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Datetime</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
        {% for history in histories %}
        <tr>
            <td>{{ history.symbol }}</td>
            <td>{{ history.shares }}</td>
            <td>{{ history.price }}</td>
            <td>{{ history.datetime }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}