{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td><b>{{ total }}</b></td>
            </tr>
        </tfoot>
        {% for holding in holdings %}
        <tr>
            <td>{{ holding.symbol }}</td>
            <td>{{ holding.shares }}</td>
            <td>{{ holding.price }}</td>
            <td>{{ holding.total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
    </table>
{% endblock %}